<template>
  <v-container fluid grid-list-xl>
    <p class="title">Cloud Accounts</p>
    <v-layout class="pa-3" height="50px" color="transparent" pb-0 align-center>
      <v-flex shrink>
         <router-link to="/account/new">
          <v-btn class="text-capitalize" color="info" outlined>
            <v-icon left>mdi-plus</v-icon> Add New
          </v-btn>
         </router-link>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex shrink>
        <v-text-field
          dense
          append-icon="mdi-magnify"
          outlined
          hide-details
          placeholder="Filters Results"
        ></v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink pa-0>
        <p class="grey--text mb-0 caption">Clear All</p>
      </v-flex>
      <v-flex shrink>
        <v-btn icon outlined>
          <v-icon>mdi-filter-variant</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-data-table
      v-model="selectedRow"
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
    >
      <template v-slot:item.status="{ item }">
        <v-icon v-if="item.status" class="warning--text">
          mdi-check-circle
        </v-icon>
        <v-icon v-else class="grey--text">mdi-check-circle</v-icon>
      </template>
      <template v-slot:item.enabled="{ item }">
        <v-switch v-model="item.enabled" color="green"></v-switch>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_account from "./fake_data/fake_account.json";
export default {
  data: () => ({
    projects: {},
    selectedRow: []
  }),
  computed: {
    headers() {
      return [
        { text: "Account ID", sortable: true, value: "accountId" },
        { text: "Cloud", sortable: true, value: "cloud" },
        { text: "Name", sortable: true, value: "name" },
        { text: "Type", sortable: true, value: "type" },
        { text: "Account Groups", sortable: true, value: "accountGroups" },
        { text: "Status", sortable: true, value: "status" },
        { text: "Last Modified By", sortable: true, value: "lastModifyBy" },
        { text: "Last Modified", sortable: true, value: "lastModified" },
        { text: "Added On", sortable: true, value: "addedOn" },
        { text: "Enabled", sortable: true, value: "enabled" },
        { text: "", value: "actions" }
      ];
    }
  },
  created() {
    this.projects = fake_account;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
</style>
