<template>
  <v-container fluid>
    <p class="title">Add Notification Template</p>
    <v-stepper v-model="e1" height="100%">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1" editable>Overviews</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 2" step="2">Configurable Fields</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 3" step="3">Review</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
      <v-stepper-content step="1">
        <v-layout row wrap pa-5>
          <v-flex xs4>
            <p class="overline mb-1">Template Name <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Template Type <span class="red--text">*</span></p>
            <v-select disabled dense outlined :items="items"></v-select>
          </v-flex>
          <v-flex xs8></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Integration <span class="red--text">*</span></p>
            <v-select dense outlined :items="items"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Incident Type <span class="red--text">*</span></p>
            <v-select disabled dense outlined :items="items"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
        </v-layout>
        <v-btn outlined disabled color="info" @click="e1 = 2">
          Next
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-layout row wrap pa-5>
          <v-flex xs4>
            <p class="overline mb-1">AWS Account ID <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
         <v-flex xs4>
            <p class="overline mb-1">External ID <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Role ARN <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
        </v-layout>
        <v-btn outlined color="info" @click="e1 = 1" class="mr-2">
          Previous
        </v-btn>
         <v-btn color="info" @click="e1 = 3">
          Next
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-layout row wrap pa-5>
          <v-flex xs4>
            <p class="overline mb-1">Account Groups <span class="red--text">*</span></p>
            <v-select dense outlined :items="items"></v-select>
          </v-flex>
          <v-flex xs8></v-flex>
        </v-layout>
         <v-btn outlined color="info" @click="e1 = 2" class="mx-2">
          Previous
        </v-btn>
         <v-btn color="info" @click="e1 = 4">
          Next
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
    </v-stepper>

  </v-container>
</template>
<script>
export default {
  data:() => ({
    items: ['AWS','Azure','GCP'],
    e1: 1,
    tab: null,
    n: 1
  })
};
</script>
