<template>
  <v-container fluid>
    <v-layout row align-center>
      <v-flex xs12 class="pa-5">
        <v-btn outlined color="info" class="mr-2">
          <router-link to="/alerts/overview">
            <v-icon left>mdi-chevron-left</v-icon>Back
          </router-link>
        </v-btn>
        <span class="body-1 pr-3">Filter(s):</span>
        <v-btn disabled>Alert Status = Open</v-btn>
      </v-flex>
      <v-flex pa-5>
        <v-expansion-panels accordion multiple>
          <v-expansion-panel>
            <v-expansion-panel-header class="font-weight-bold">
              <span class="info--text">
                AWS VPC subnets should not allow automatic public IP assignment
              </span>
            </v-expansion-panel-header>
            <v-expansion-panel-content class="body-2">
              This policy identifies VPC subnets which allow automatic public IP
              assignment. VPC subnet is a part of the VPC having its own rules
              for traffic. Assigning the Public IP to the subnet automatically
              (on launch) can accidentally expose the instances within this
              subnet to internet and should be edited to 'No' post creation of
              the Subnet.
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header class="font-weight-bold">
              Recommendation
            </v-expansion-panel-header>
            <v-expansion-panel-content class="body-2">
              1. Sign into the AWS console.
              <br />2. In the console, select the specific region from region
              drop down on the top right corner, for which the alert is
              generated. <br />3. Navigate to the 'VPC' service. <br />4. In the
              navigation pane, click on 'Subnets'. <br />5. Select the
              identified Subnet and choose the option 'Modify auto-assign IP
              settings' under the Subnet Actions. <br />6. Disable the
              'Auto-Assign IP' option and save it.
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header class="font-weight-bold">
              Violating Resources
            </v-expansion-panel-header>
            <v-expansion-panel-content class="body-2">
              <v-layout
                class="pa-3"
                height="50px"
                color="transparent"
                align-center
              >
                <v-flex pa-0 pr-2 shrink>
                  <v-btn icon outlined>
                    <v-icon>mdi-arrow-down-bold-box</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex pa-0 pr-2 shrink>
                  <v-btn icon outlined>
                    <v-icon>mdi-alarm-snooze</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex pa-0 pr-2 shrink>
                  <v-btn outlined dense color="info">
                    Remediate
                  </v-btn>
                </v-flex>
                <v-spacer />
                <v-flex shrink pr-3>
                  <p class="grey--text mb-0 caption">Clear All</p>
                </v-flex>
                <v-flex shrink>
                  <v-btn icon outlined>
                    <v-icon>mdi-filter-variant</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>

              <v-data-table
                v-model="selectedRow"
                :headers="headers"
                :items="projects"
                class="elevation-0"
                show-expand
                single-expand="false"
                :expanded.sync="expanded"
                show-select
                item-key="alertID"
                scrollable
              >
                <template v-slot:expanded-item="{ headers }">
                  <td :colspan="headers.length">
                    <v-flex
                      class="body-2 ma-2 pa-2"
                      style="background-color: #EEF6FF;border-radius:5px"
                    >
                      <span>Alert Rules - </span>
                      <span class="info--text">Default Alert Rule</span>
                      <span> | Resource Configuration - </span>
                      <span class="body-2 info--text">View Details</span>
                    </v-flex>
                  </td>
                </template>
                <template v-slot:item.actions="{ item }">
                  <v-layout row flex-nowrap>
                    <v-flex pa-0 pr-2 shrink>
                      <v-btn icon outlined>
                        <v-icon>mdi-arrow-down-bold-box</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex pa-0 pr-2 shrink>
                      <v-btn icon outlined>
                        <v-icon>mdi-alarm-snooze</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </template>
              </v-data-table>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import fake_alert_detail from "./fake_data/fake_alert_detail.json";
export default {
  data: () => ({
    projects: {},
    selectedRow: [],
    expanded: []
  }),
  computed: {
    headers() {
      return [
        { text: "Alert ID", sortable: true, value: "alertID" },
        { text: "Resource Name", sortable: true, value: "resourceName" },
        { text: "Resource ID", sortable: true, value: "resourceID" },
        { text: "Account", sortable: true, value: "account" },
        { text: "Region", sortable: true, value: "region" },
        { text: "Alert Status", sortable: true, value: "alertStatus" },
        { text: "Rating", sortable: true, value: "rating" },
        { text: "Alert Time", sortable: true, value: "alertTime" },
        { text: "", value: "actions" },
        { text: "", value: "data-table-expand" }
      ];
    }
  },
  created() {
    this.projects = fake_alert_detail;
  }
};
</script>
<style>
.v-data-table tbody tr.v-data-table__expanded__content {
  box-shadow: inset 0px 0px 0px 0px;
}
</style>
