<template>
  <v-container fluid grid-list-xl>
    <p class="title">Alerts Overview</p>
    <v-layout class="pa-3" height="50px" color="transparent" pb-0 align-center>
      <v-flex pa-0 pr-2 shrink>
        <v-btn icon outlined>
          <v-icon>mdi-arrow-down-bold-box</v-icon>
        </v-btn>
      </v-flex>
      <v-flex pa-0 pr-2 shrink>
        <v-btn icon outlined>
          <v-icon>mdi-alarm-snooze</v-icon>
        </v-btn>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <v-btn icon outlined class="mr-2">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <v-btn icon outlined>
          <download-excel :data="projects">
            <v-icon>mdi-download</v-icon>
          </download-excel>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-data-table
      v-model="selectedRow"
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
      item-key="name"
      show-select
      scrollable
    >
      <template v-slot:item.standards="{ item }">
        <router-link to="/alerts/overview/detail">
          <span class="info--text">{{ item.standards }}</span>
        </router-link>
      </template>
      <template v-slot:item.policyName="{ item }">
        <router-link to="/alerts/overview/detail">
          <span class="black--text">{{ item.policyName }}</span>
        </router-link>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-arrow-down-bold-box</v-icon>
            </v-btn>
          </v-flex>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-alarm-snooze</v-icon>
            </v-btn>
          </v-flex>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_alert from "./fake_data/fake_alert.json";
export default {
  data: () => ({
    projects: {},
    selectedRow: []
  }),
  computed: {
    headers() {
      return [
        { text: "Policy Name", sortable: true, value: "policyName" },
        { text: "Policy Type", sortable: true, value: "policyType" },
        { text: "Standards", sortable: true, value: "standards" },
        { text: "Labels", sortable: true, value: "labels" },
        { text: "Severity", sortable: true, value: "severitys" },
        { text: "Alerts", sortable: true, value: "alerts" },
        { text: "", value: "actions" }
      ];
    }
  },
  created() {
    this.projects = fake_alert;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
</style>
