<template>
  <v-container fluid grid-list-xl>
    <p class="title">Alert Rules</p>
    <v-layout class="pa-3" height="50px" pb-0 align-center>
      <v-flex shrink>
        <router-link to="/alerts/alert_rules/new">
        <v-btn class="text-capitalize" color="info" outlined>
          <v-icon left>mdi-plus</v-icon> Add New
        </v-btn>
        </router-link>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex shrink>
        <v-text-field
          append-icon="mdi-magnify"
          outlined
          dense
          hide-details
          placeholder="Filters Results"
        ></v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink pa-0>
        <p class="grey--text mb-0 caption">Clear All</p>
      </v-flex>
      <v-flex shrink>
        <v-btn icon outlined>
          <v-icon>mdi-filter-variant</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
      scrollable
    >
      <template v-slot:item.status="{ item }">
        <v-switch v-model="item.status" color="green"></v-switch>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_alertRules from "./fake_data/fake_alertRules.json";
export default {
  data: () => ({
    projects: {}
  }),
  computed: {
    headers() {
      return [
        { text: "Name", sortable: true, value: "name" },
        {
          text: "Notification Channels",
          sortable: true,
          value: "notificationChannels"
        },
        { text: "Last Modified By", sortable: true, value: "lastModifiedBy" },
        { text: "Last Modified", sortable: true, value: "lastModified" },
        { text: "Automated Remediation", sortable: true, value: "automated" },
        { text: "Status", sortable: true, value: "status" },
        { text: "", value: "actions" }
      ];
    }
  },
  created() {
    this.projects = fake_alertRules;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
</style>
