<template>
  <v-container fluid grid-list-xl>
    <a class="title"><router-link to="/dashboard/asset_inventory">Asset Inventory</router-link> / </a><span v-text="serviceName"></span>
    <v-layout row>
      <v-flex xs4>
        <v-card class="elevation-0" color="#4A90E2" outlined>
          <v-layout column align-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Resources</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{resource}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class="pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs4>
        <v-card class="elevation-0" color="#56C468" outlined>
          <v-layout column align-center justify-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Pass</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{pass}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class="pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs4>
        <v-card class="elevation-0" color="#F45858" outlined>
          <v-layout column align-center justify-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Fail</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{fail}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class="pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <v-card class="elevation-0 mt-5" outlined>
      <v-layout class="pa-3" height="50px" pb-0 align-center>
        <v-spacer />
        <v-flex shrink>
          <v-btn icon outlined>
            <v-icon>mdi-filter-variant</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-divider class="ma-0"></v-divider>
      <v-card-text>
        <v-data-table v-if="projects" :headers="headers" :items="projects" class="elevation-0 mb-4">
          <template v-slot:item.total="{ item }">
            <span class="info--text">{{ item.total }}</span>
          </template>
          <template v-slot:item.fail="{ item }">
            <span class="info--text">{{ item.fail }}</span>
          </template>
          <template v-slot:item.pass="{ item }">
            <span class="info--text">{{ item.pass }}</span>
          </template>
        </v-data-table>
        <div v-if="!projects">No data here!</div>

        </v-layout>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import fake_asset_ec2 from "./fake_data/asset_detail/ec2_detail.json";
import fake_asset_iam from "./fake_data/asset_detail/iam_detail.json";
import fake_asset_s3 from "./fake_data/asset_detail/s3_detail.json";
import fake_asset_sns from "./fake_data/asset_detail/sns_detail.json";
import fake_asset_vpc from "./fake_data/asset_detail/vpc_detail.json";
import fake_asset_cloudTrail from "./fake_data/asset_detail/cloudTrail.json";
import fake_asset_rds from "./fake_data/asset_detail/rds.json";
export default {
  data: () => ({
    projects: {},
    serviceName: "",
    resource:0,
    pass: 0,
    fail:0
  }),
  computed: {
    headers() {
      return [
        { text: "Resource Type", sortable: true, value: "resourceType" },
        { text: "Total", sortable: true, value: "total" },
        { text: "Pass", sortable: true, value: "pass" },
        { text: "Fail", sortable: true, value: "fail" }
      ];
    }
  },
  created() {
    this.serviceName = "AWS | " + `${this.$route.params.id}`;
    switch (this.$route.params.id) {
      case "EC2":
        this.projects = fake_asset_ec2;
        break;
      case "IAM":
        this.projects = fake_asset_iam;
        break;
      case "S3":
        this.projects = fake_asset_s3;
        break;
      case "SNS":
        this.projects = fake_asset_sns;
        break;
      case "Amazo VPC":
        this.projects = fake_asset_vpc;
        break;
      case "CloudTrail":
        this.projects = fake_asset_cloudTrail;
        break;
      case "RDS":
        this.projects = fake_asset_rds;
        break;
      default:
        this.projects = 0;
    }
    let totalPass = 0;
    let totalFail = 0;
    let total = 0;
    this.projects.forEach(e => {
      total += Number(e.total);
      totalPass += Number(e.pass);
      totalFail += Number(e.fail);
    });
    this.resource = total;
    this.pass = totalPass;
    this.fail = totalFail;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.dashboard{
  margin: 0px 100px !important;
}
</style>
