<template>
  <v-container fluid grid-list-xl>
    <p class="title">Asset Inventory</p>
    <v-layout row>
      <v-flex xs4>
        <v-card class="elevation-0" color="#4A90E2" outlined>
          <v-layout column align-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Resources</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{resource}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class=" pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs4>
        <v-card class="elevation-0" color="#56C468" outlined>
          <v-layout column align-center justify-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Pass</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{pass}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class=" pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs4>
        <v-card class="elevation-0" color="#F45858" outlined>
          <v-layout column align-center justify-center>
            <v-flex d-flex pa-0 mt-5 pt-3>
              <p class="pt-5 mb-1">Fail</p>
            </v-flex>
            <v-flex d-flex>
              <v-layout row>
                <v-flex class="pa-0 mb-5 pb-3">
                  <p class="text-uppercase display-2">{{fail}}</p>
                </v-flex>
                <v-flex>
                  <v-layout column class="pl-3">
                    <v-flex class="pa-0 font-weight-bold">--</v-flex>
                    <v-flex class="pa-0">0%</v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <v-card outlined>
      <v-layout row wrap class="dashboard">
        <v-flex xs4>
          <p class="pa-3">Pass (unit : %)</p>
          <CircleChart height="300" class="pa-3" :chartData="chartdata1" :options="options1" />
        </v-flex>
        <v-flex xs4>
          <p class="pa-3">Total (unit : %)</p>
          <CircleChart height="300" class="pa-3" :chartData="chartdata3" :options="options3" />
        </v-flex>
        <v-flex xs4>
          <p class="pa-3">Failed (unit : %)</p>
          <CircleChart height="300" class="pa-3" :chartData="chartdata2" :options="options2" />
        </v-flex>
      </v-layout>
    </v-card>
    <v-card class="elevation-0 mt-5" outlined>
      <v-layout class="pa-3" height="50px" pb-0 align-center>
        <v-flex xs5>
          <v-layout class="input-group" row>
            <v-flex align-self-center>
              <v-select
                dense
                :items="items"
                hide-details
                placeholder="Select group"
                multiple
                outlined
              ></v-select>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-spacer />
        <v-flex shrink pa-0>
          <p class="grey--text mb-0 caption">Clear All</p>
        </v-flex>
        <v-flex shrink>
          <v-btn icon outlined>
            <v-icon>mdi-filter-variant</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
      <v-divider class="ma-0"></v-divider>
      <v-card-text>
        <v-data-table :headers="headers" :items="projects" class="elevation-0 mb-4">
          <template v-slot:item.serviceName="{ item }">
            <router-link :to="{name: 'asset_detail',params: {id : item.serviceName}}">{{ item.serviceName }}</router-link>
          </template>
          <template v-slot:item.total="{ item }">
            <router-link :to="{name: 'investigate',params: {id : item.serviceName}}">{{ item.total }}</router-link>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
import CircleChart from "../components/CircleChart.js";
import fake_data from "./fake_data/fake_asset_invent.json";
export default {
  components: { CircleChart },
  data: () => ({
    projects: {},
    items: ["Account", "Region", "Service"],
    chartdata1: {},
    options1: {
      responsive: true,
      maintainAspectRatio: false,
      cutoutPercentage: 40,
      animation: { animateScale: true }
    },
    chartdata2: {},
    options2: {
      responsive: true,
      maintainAspectRatio: false,
      cutoutPercentage: 40,
      animation: { animateScale: true }
    },
    chartdata3: {},
    options3: {
      responsive: true,
      maintainAspectRatio: false,
      cutoutPercentage: 40,
      animation: { animateScale: true }
    },
    resource:0,
    pass: 0,
    fail:0
  }),
  computed: {
    headers() {
      return [
        { text: "Service", sortable: true, value: "serviceName" },
        { text: "Cloud", sortable: true, value: "cloud" },
        { text: "Total", sortable: true, value: "total" },
        { text: "Pass", sortable: true, value: "pass" },
        { text: "Fail", sortable: true, value: "pass" }
      ];
    }
  },
  created() {
    this.projects = fake_data;
    let totalPass = 0;
    let totalFail = 0;
    let total = 0;
    let count = 0;
    this.projects.forEach(e => {
      total += Number(e.total);
      totalPass += Number(e.pass);
      totalFail += Number(e.fail);
    });
    this.resource = total;
    this.pass = totalPass;
    this.fail = totalFail;
    let arrayDataPass = [];
    let arrayDataFail = [];
    this.projects.forEach(e => {
      let i = (e.pass/totalPass * 100).toFixed(2);
      let x = (e.fail/totalFail * 100).toFixed(2);
      count++;
      if (count <= 10) {
        arrayDataPass.push(i);
        arrayDataFail.push(x);
      }
    });
    const pass = (totalPass/total * 100).toFixed(2);
    const fail = (totalFail/total * 100).toFixed(2);
    //console.log(arrayDataPass);
    this.chartdata1 = {
      labels: ["EC2", "Amazon VPC", "IAM", "S3","SNS","SQS","CloudTrail","AWS Config","CloudFormation","RDS"],
      datasets: [
        {
          data: arrayDataPass,
          backgroundColor: [
            "rgb(128, 139, 150)",
            "rgb(229, 152, 102)",
            "rgb(247, 220, 111)",
            "rgb(20, 143, 119)",
            "rgb(108, 52, 131)",
            "rgb(176, 58, 46)",
            "rgb(39, 174, 96)",
            "rgb(169, 204, 227)",
            "rgb(155, 89, 182)",
            "rgb(242, 215, 213)"
          ]
        }
      ]
    },
    this.chartdata2 = {
      labels: ["EC2", "Amazon VPC", "IAM", "S3","SNS","SQS","CloudTrail","AWS Config","CloudFormation","RDS"],
      datasets: [
        {
          data: arrayDataFail,
          backgroundColor: [
            "rgb(160, 64, 0)",
            "rgb(244, 208, 63)",
            "rgb(69, 179, 157)",
            "rgb(93, 173, 226)",
            "rgb(165, 105, 189)",
            "rgb(236, 112, 99)",
            "rgb(192, 57, 43)",
            "rgb(98, 101, 103)",
            "rgb(253, 235, 208)",
            "rgb(249, 231, 159)"
          ]
        }
      ]
    },
    this.chartdata3 = {
      labels: ["Pass", "Fail", "Others"],
      datasets: [
        {
          data: [pass, fail, 100 - pass - fail],
          backgroundColor: [
            'rgb(46, 204, 113)',
            'rgb(231, 76, 60)',
            'rgb(93, 173, 226)'
          ]
        }
      ]
    };
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.dashboard{
  margin: 0px 50px !important;
}
</style>
