<template>
  <v-container fluid>
    <p class="title">Investigate</p>
    <v-layout column>
      <v-flex pb-3>
        <v-layout row>
          <v-spacer></v-spacer>
          <span class="error--text caption pr-5">Clear All</span>
        </v-layout>
      </v-flex>
      <v-flex>
        <v-layout row>
          <v-flex>
            <v-container grid-list-md pt-0>
              <v-layout row>
                <v-flex>
                  <v-text-field
                    v-model="textCustom"
                    dense
                    outlined
                    prepend-inner-icon="mdi-check"
                  ></v-text-field>
                </v-flex>
                <v-flex shrink>
                  <v-select
                    dense
                    :items="items"
                    outlined
                    prepend-inner-icon="mdi-alarm"
                    value="Past 24 hours"
                  ></v-select>
                </v-flex> </v-layout></v-container>
          </v-flex>
          <v-flex shrink pr-5 pt-1>
            <v-btn icon outlined>
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </v-flex>
          <v-flex shrink pr-5 pt-1>
            <v-btn icon outlined>
              <v-icon>mdi-content-save</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout class="pa-3" height="50px" px-0 align-center>
      <v-flex shrink>
        <v-text-field
          append-icon="mdi-magnify"
          outlined
          dense
          hide-details
          placeholder="Filters Results"
        ></v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <v-btn icon outlined class="mr-2">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <v-btn icon outlined>
          <download-excel :data="projects">
              <v-icon>mdi-download</v-icon>
          </download-excel>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-data-table :headers="headers" :items="projects" class="elevation-0 mb-4">
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-code-tags</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
      <template v-slot:no-data>
        No Data here!
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_investigate_IAM from "./fake_data/fake_asset_investigate_IAM.json";
import fake_investigate_RDS from "./fake_data/fake_asset_investigate_RDS.json";
import fake_investigate_S3 from "./fake_data/fake_asset_investigate_S3.json";
import fake_investigate_VPC from "./fake_data/fake_asset_investigate_VPC.json";
export default {
  data: () => ({
    textCustom: "",
    items: [
      "Since last login",
      "Past 24 hours",
      "Past 3 days",
      "Past 7 days",
      "Custom"
    ]
  }),
  computed: {
    headers() {
      return [
        { text: "Resource Name", sortable: true, value: "resource" },
        { text: "Service", sortable: true, value: "service" },
        { text: "Account", sortable: true, value: "account" },
        { text: "Region", sortable: true, value: "region" },
        { text: "Last Modified", sortable: true, value: "lastModified" },
        { text: "", sortable: false, value: "actions" }
      ];
    }
  },
  created() {
    this.textCustom = `config where cloud.type = 'aws' and cloud.service = '${this.$route.params.id}'`;
    switch (this.$route.params.id) {
      case "IAM":
        this.projects = fake_investigate_IAM;
        break;
      case "RDS":
        this.projects = fake_investigate_RDS;
        break;
      case "S3":
        this.projects = fake_investigate_S3;
        break;
      case "Amazo VPC":
        this.projects = fake_investigate_VPC;
        break;
    }
  }
};
</script>
