<template>
  <v-container fluid>
    <p class="title">Add Alert Rule</p>
    <v-stepper v-model="e1" height="100%">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">Details</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 2" step="2">Target</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 3" step="3">Select Policies</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 4" step="4">Set Alert Notification</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-layout row wrap pa-5>
            <v-flex xs4>
              <p class="overline mb-1">
                Alert Rule Name
                <span class="red--text">*</span>
              </p>
              <v-text-field dense outlined></v-text-field>
            </v-flex>
            <v-flex xs7></v-flex>
            <v-flex xs4>
              <p class="overline mb-1">Description</p>
              <v-textarea outlined dense rows="1"></v-textarea>
            </v-flex>
            <v-flex xs6></v-flex>
          </v-layout>
          <v-btn outlined color="info" @click="e1 = 2">Next</v-btn>
        </v-stepper-content>

        <v-stepper-content step="2">
          <v-layout row wrap pa-5 align-center>
            <v-flex xs4>
              <p class="overline mb-1">Account Groups</p>
              <v-select dense outlined :items="items"></v-select>
            </v-flex>
            <v-flex xs8></v-flex>
            <v-flex shrink>
              <v-switch v-model="viewSettings" color="green"></v-switch>
            </v-flex>
            <v-flex class="pb-1" xs10>
              <span v-if="!viewSettings">View Advanced Settings</span>
              <span v-if="viewSettings">Hide Advanced Settings</span>
            </v-flex>
            <v-flex xs4 v-if="viewSettings">
              <p class="overline mb-1">Exclude Cloud Accounts</p>
              <v-select dense outlined :items="items"></v-select>
            </v-flex>
            <v-flex xs8></v-flex>
            <v-flex xs4 v-if="viewSettings">
              <p class="overline mb-1">Regions</p>
              <v-select dense outlined :items="items"></v-select>
            </v-flex>
            <v-flex xs8></v-flex>
            <v-flex xs12 v-if="viewSettings">
              <p>Resource Tags</p>
            </v-flex>
            <v-flex xs12 v-if="viewSettings">
              <v-layout row wrap px-5 align-center v-for="i in n" :key="i">
                <v-flex xs3 pr-3>
                  <p class="overline mb-1">Key</p>
                  <v-text-field dense outlined></v-text-field>
                </v-flex>
                <v-flex xs3 pr-3>
                  <p class="overline mb-1">Value</p>
                  <v-text-field dense outlined></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-btn v-if="n == 1 ? false : true" icon outlined class="ml-3" @click="n--">
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                  <v-btn v-if="i == n" icon outlined class="ml-3" @click="n++">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-btn outlined color="info" @click="e1 = 1" class="mr-2">Previous</v-btn>
          <v-btn color="info" @click="e1 = 3">Next</v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-layout row wrap pa-5 align-center>
            <v-flex shrink>
              <v-switch v-if="!view" color="green"></v-switch>
            </v-flex>
            <v-flex v-if="!view" class="pb-1" xs10>
              <span>Automated Remediation</span>
            </v-flex>
            <v-flex xs12>
              <p class="ma-0">Select Policies (required)</p>
            </v-flex>
            <v-flex shrink>
              <v-checkbox v-model="view"></v-checkbox>
            </v-flex>
            <v-flex xs10>
              <p class="mb-1">Select all policies</p>
            </v-flex>
            <v-flex xs12 v-if="!view">
              <p class="title">OR</p>
            </v-flex>
          </v-layout>
          <v-container fluid grid-list-xl v-if="!view">
            <v-layout height="50px" color="transparent" pb-0 align-center>
              <v-flex shrink>
                <v-text-field
                  dense
                  append-icon="mdi-magnify"
                  outlined
                  hide-details
                  placeholder="Filters Results"
                ></v-text-field>
              </v-flex>
              <v-spacer />
              <v-flex shrink pa-0>
                <p class="grey--text mb-0 caption">Clear All</p>
              </v-flex>
              <v-flex shrink>
                <v-btn icon outlined>
                  <v-icon>mdi-filter-variant</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
                  <v-data-table
              v-model="selectedRow"
              :headers="headers"
              :items="projects"
              class="elevation-0 mb-4"
              item-key="name"
              show-select
              scrollable
            >
              <template v-slot:item.standards="{ item }">
                <span class="info--text">{{ item.standards }}</span>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-layout row flex-nowrap>
                  <v-flex pa-0 pr-2 shrink>
                    <v-btn icon outlined>
                      <v-icon>mdi-arrow-down-bold-box</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex pa-0 pr-2 shrink>
                    <v-btn icon outlined>
                      <v-icon>mdi-alarm-snooze</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex pa-0 pr-2 shrink>
                    <v-btn icon outlined>
                      <v-icon>mdi-eye</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </template>
            </v-data-table>
          </v-container>
          <v-btn outlined color="info" @click="e1 = 2" class="mx-2">Previous</v-btn>
          <v-btn color="info" @click="e1 = 4">Next</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-container>
</template>
<script>
import fake_data from "./fake_data/fake_add_alert_rule.json";
export default {
  data: () => ({
    projects: {},
    selectedRow: [],
    items: ["AWS", "Azure", "GCP"],
    view: false,
    e1: 1,
    tab: null,
    n: 1
  }),
  computed: {
    headers() {
      return [
        { text: "Policy Name", sortable: true, value: "policyName" },
        { text: "Cloud", sortable: true, value: "cloud" },
        { text: "Severity", sortable: true, value: "severity" },
        { text: "Policy Type", sortable: true, value: "policyType" },
        { text: "Labels", sortable: true, value: "labels" },
        { text: "Remediable", sortable: true, value: "remediable" },
        { text: "Policy Mode", sortable: true, value: "policyMode" },
        { text: "Standards", sortable: true, value: "standards" },
        { text: "Description", sortable: true, value: "description" }
      ];
    }
  },
  created() {
    this.projects = fake_data;
  }
};
</script>
