<template>
  <v-container fluid>
    <p class="title">Build Your Query</p>
    <v-stepper v-model="e1" height="100%">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1" editable>Details</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 2" step="2" editable>Build Your Query</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 3" step="3">Compliance Standards</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step :complete="e1 > 4" step="4">Remediation</v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
      <v-stepper-content step="1">
        <v-layout row wrap pa-5>
          <v-flex xs4>
            <p class="overline mb-1">Policy Name <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs6>
            <p class="overline mb-1">Description</p>
            <v-textarea outlined dense rows="1"></v-textarea>
          </v-flex>
          <v-flex xs6></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Severity <span class="red--text">*</span></p>
            <v-select dense outlined :items="items"></v-select>
          </v-flex>
          <v-flex xs8></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Label</p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs8></v-flex>
        </v-layout>
        <v-btn outlined color="info" @click="e1 = 2">
          Next
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-tabs v-model="tab">
          <v-tab href="#tab-0">New Search</v-tab>
          <v-tab href="#tab-1">Saved Search</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
          <v-tab-item value="tab-0" class="ma-5">
            <p class="overline mb-1">Your Query</p>
            <v-layout row flex-nowrap>
              <v-text-field mr-2 dense outlined value="config where cloud.type = 'aws' and api.name='aws-iam-get-credential-report' AND json.rule='password_enabled equals true and mfa_active is false'"></v-text-field>
              <v-btn icon outlined class="ml-2">
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-layout>
          </v-tab-item>
          <v-tab-item value="tab-1">
            <v-layout row wrap pa-5>
              <v-flex xs4>
                <p class="overline mb-1">Select saved search</p>
                <v-select dense outlined :items="items"></v-select>
              </v-flex>
              <v-flex xs8></v-flex>
              <v-flex>
                <p class="overline mb-1">Label</p>
                <v-layout row flex-nowrap pa-3>
                  <v-text-field append-icon="mdi-content-copy" mr-2 dense outlined placeholder="Hello Tú, what can we help you find today?"></v-text-field>
                  <v-btn icon outlined class="ml-2">
                    <v-icon>mdi-magnify</v-icon>
                  </v-btn>
                </v-layout>
              </v-flex>
            </v-layout>
            </v-layout>
          </v-tab-item>
        </v-tabs-items>
        <v-btn outlined color="info" @click="e1 = 1" class="mr-2">
          Previous
        </v-btn>
         <v-btn color="info" @click="e1 = 3">
          Next
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
         <v-layout row wrap px-5 align-center v-for="i in n" :key="i">
           <v-flex xs2 pr-3>
              <p class="overline mb-1">Standard</p>
              <v-select dense outlined :items="items"></v-select>
           </v-flex>
           <v-flex xs1 pr-3>
              <p class="overline mb-1">Requirement</p>
              <v-select dense outlined :items="items"></v-select>
           </v-flex>
           <v-flex xs1 pr-3>
              <p class="overline mb-1">Section</p>
              <v-select dense outlined :items="items"></v-select>
           </v-flex>
           <v-flex xs2>
              <v-btn v-if="n == 1 ? false : true" icon outlined class="ml-3" @click="n--">
                <v-icon>mdi-minus</v-icon>
              </v-btn>
              <v-btn v-if="i == n" icon outlined class="ml-3" @click="n++">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
           </v-flex>
         </v-layout>
         <v-btn outlined color="info" @click="e1 = 2" class="mx-2">
          Previous
        </v-btn>
         <v-btn color="info" @click="e1 = 4">
          Next
        </v-btn>
      </v-stepper-content>
      <v-stepper-content step="4">
        <v-flex xs4>
            <p class="overline mb-1">Recomendation for Remediation <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
        <v-btn outlined color="info" @click="e1 = 3" class="mx-2">
          Previous
        </v-btn>
        <v-btn color="error" @click="e1 = 4" class="mx-2">
          Cancel
        </v-btn>
        <v-btn color="info" @click="e1 = 4">
          Confirm
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
    </v-stepper>

  </v-container>
</template>
<script>
export default {
  data:() => ({
    items: ['low','medium','high'],
    e1: 1,
    tab: null,
    n: 1
  })
};
</script>
