<template>
  <v-container fluid>
    <p class="title">Compliance Reports</p>
    <v-layout row wrap pa-5>
          <v-flex xs4>
            <p class="overline mb-1">Cloud Type</p>
            <v-select dense outlined :items="itemsCloudType"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Report Type</p>
            <v-select dense outlined :items="itemsReportType"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex xs4>
            <p class="overline mb-1">Name <span class="red--text">*</span></p>
            <v-text-field dense outlined></v-text-field>
          </v-flex>
          <v-flex xs7></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Account Groups</p>
            <v-select dense outlined multiple :items="itemsAccountGroups"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Cloud Accounts</p>
            <v-select dense outlined multiple :items="itemsCloudAccount"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Regions</p>
            <v-select dense outlined multiple :items="itemsRegion"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
           <v-flex xs4>
            <p class="overline mb-1">Time Range</p>
            <v-select dense outlined :items="itemsTimeRange"></v-select>
          </v-flex>
          <v-flex xs7></v-flex>
          <v-flex>
             <v-btn outlined color="info" class="mr-2">Cancel</v-btn>
            <v-btn color="info">Save</v-btn>
          </v-flex>
        </v-layout>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    itemsCloudType: ['AWS','Azure','GCP'],
    itemsReportType: ['CIS for Honda HP','CIS v1.2.0(AWS)','CSA CCM v3.0.1','GDPR','HIPAA','HITRUST Version 9.2','ISO 270001:2013','NIST 800-53 Rev4','NIST CSF','SOC 2'],
    itemsTimeRange:['All Time','Since Last Login','Past 24 hours','Past 7 days','Past mouth','Custom'],
    itemsRegion:['AWS Bahrain','AWS California','AWS Canada','AWS FrankFurt','AWS Hong Kong','AWS Ireland','AWS London','AWS Mumbai','AWS Ohio','AWS Oregon','AWS Paris','AWS Seul','AWS Singapore','AWS Stockholm'],
    itemsCloudAccount:['AWS CCG Sec','Honda_HP','LapLB-AWS'],
    itemsAccountGroups:['Default Account Group','Honda_HP','LapLB']
  })
};
</script>
