<template>
  <v-container fluid>
    <a class="title"><router-link to="/compliance/overview">Compliance</router-link> / <span v-text="standard"></span></a>
    <v-layout column>
      <v-flex pt-5>
        <v-card outlined>
          <v-card-text class="black--text">
            <v-layout row flex-nowrap>
              <v-flex xs2>
                <v-layout column align-center>
                  <v-flex>Total Unique Resources</v-flex>
                  <v-flex class="display-2">1905</v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs8 d-flex>
                <v-layout column justify-center>
                  <v-flex>
                    <v-container grid-list-lg fluid>
                      <v-layout row align-center>
                        <v-flex xs3>
                          <v-layout column align-center>
                            <v-flex row flex-nowrap pa-0>
                              <v-icon class="success--text pr-2" size="15">mdi-brightness-1</v-icon>
                              <span class="pt-1">Pass</span>
                            </v-flex>
                            <v-flex class="headline pa-0" row>1756</v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs3>
                          <v-layout column align-center>
                            <v-flex row flex-nowrap pa-0>
                              <v-icon class="yellow--text pr-2" size="15">mdi-brightness-1</v-icon>
                              <span class="pt-1">Low</span>
                            </v-flex>
                            <v-flex class="headline pa-0 info--text" row>29</v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs3>
                          <v-layout column align-center>
                            <v-flex row flex-nowrap pa-0>
                              <v-icon class="warning--text pr-2" size="15">mdi-brightness-1</v-icon>
                              <span class="pt-1">Medium</span>
                            </v-flex>
                            <v-flex class="headline pa-0 info--text" row>93</v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs3>
                          <v-layout column align-center>
                            <v-flex row flex-nowrap pa-0>
                              <v-icon class="error--text pr-2" size="15">mdi-brightness-1</v-icon>
                              <span class="pt-1">High</span>
                            </v-flex>
                            <v-flex class="headline pa-0 info--text" row>27</v-flex>
                          </v-layout>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                  <v-flex>
                    <b-progress :max="max">
                      <b-progress-bar
                        variant="success"
                        :value="values[0]"
                      ></b-progress-bar>
                      <b-progress-bar
                        variant="yellow"
                        :value="values[1]"
                      ></b-progress-bar>
                      <b-progress-bar
                        variant="warning"
                        :value="values[2]"
                      ></b-progress-bar>
                      <b-progress-bar
                        variant="danger"
                        :value="values[3]"
                      ></b-progress-bar>
                    </b-progress>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs2>
                <v-layout column align-center>
                  <v-flex>Failed Resources</v-flex>
                  <v-flex class="display-2 info--text">149</v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout pt-5>
      <v-flex xs6>
       <v-card outlined>
          <p class="pa-3 ma-0">Compliance Trend</p>
          <LineChart v-if="projects" class="pa-3" :chartData="chartdata1" :options="options1" />
          <div v-if="!projects" class="pa-3">No results found</div>
       </v-card>
      </v-flex>
      <v-flex xs6 pl-2>
        <v-card outlined>
          <p class="pa-3 ma-0">Compliance Coverage</p>
          <BarChart v-if="projects" class="pa-3" :chartData="chartdata2" :options="options2" />
          <div v-if="!projects" class="pa-3">No results found</div>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout py-5>
      <v-spacer></v-spacer>
      <v-flex shrink>
        <v-btn icon outlined class="mr-2">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <v-btn icon outlined>
          <v-icon>mdi-download</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-data-table
      v-if="projects"
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
      scrollable
    >
      <template v-slot:item.policies="{ item }">
        <router-link to="/policies">{{ item.policies }}</router-link>
      </template>
      <template v-slot:item.high="{ item }">
        <router-link to="/alert">
          <span class="error--text">{{ item.high }}</span>
        </router-link>
      </template>
      <template v-slot:item.medium="{ item }">
        <router-link to="/alert">
          <span class="warning--text">{{ item.medium }}</span>
        </router-link>
      </template>
      <template v-slot:item.low="{ item }">
        <router-link to="/alert">
          <span class="yellow--text">{{ item.low }}</span>
        </router-link>
      </template>
      <template v-slot:item.posture="{ item }">
        <v-layout row flex-nowrap align-center>
          <v-flex xs10 mr-2>
            <v-progress-linear
              rounded
              color="green lighten-1"
              height="7"
              :value="item.posture"
              class="ma-0"
            ></v-progress-linear>
          </v-flex>
          <v-flex> {{ item.posture }}% </v-flex>
        </v-layout>
      </template>
    </v-data-table>
    <v-layout v-if="!projects" class="align-center">
      <v-flex pa-5>No data here!</v-flex>
    </v-layout>
    <v-layout py-5 v-if="projects">
      <v-spacer></v-spacer>
      <v-flex shrink>
        Data As Of: 6 days ago
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import fake_cis from "../views/fake_data/compliance_detail/cis.json";
import fake_csa from "../views/fake_data/compliance_detail/csa ccm v3.0.1.json";
import fake_gdpr from "../views/fake_data/compliance_detail/gdpr.json";
import fake_hipaa from "../views/fake_data/compliance_detail/hipaa.json";
import fake_hitrust from "../views/fake_data/compliance_detail/hitrust.json";
import fake_iso from "../views/fake_data/compliance_detail/iso27001.json";
import fake_nist from "../views/fake_data/compliance_detail/nist csf.json";
import fake_nist800_53 from "../views/fake_data/compliance_detail/nist800-53.json";
import fake_nist800_171 from "../views/fake_data/compliance_detail/nist800-171.json";
import fake_pci from "../views/fake_data/compliance_detail/pci dss v3.2.json";
import LineChart from "../components/LineChart.js";
import BarChart from "../components/BarChart.js";
export default {
  components: { LineChart,BarChart },
  data: () => ({
    projects:{},
    standard:"",
    values: [15, 30, 20, 35],
    max: 100,
    chartdata1: {
      datasets: [
        {
          label: 'Resources',
          data: [{x: new Date("2013-02-08 09:30"),y:1980},
            {x: new Date("2013-02-08 10:30"),y:1990},
            {x: new Date("2013-02-08 11:30"),y:1890},
            {x: new Date("2013-02-08 12:30"),y:1956},
            {x: new Date("2013-02-08 13:30"),y:1945},
            {x: new Date("2013-02-08 14:30"),y:1976},
            {x: new Date("2013-02-08 15:30"),y:2000}],
          borderColor:"#4A90E2",
          backgroundColor:"transparent",
          lineTension: 0
        },
        {
          label: 'Pass',
          data: [{x: new Date("2013-02-08 09:30"),y:1700},
            {x: new Date("2013-02-08 10:30"),y:1711},
            {x: new Date("2013-02-08 11:30"),y:1745},
            {x: new Date("2013-02-08 12:30"),y:1722},
            {x: new Date("2013-02-08 13:30"),y:1710},
            {x: new Date("2013-02-08 14:30"),y:1730},
            {x: new Date("2013-02-08 15:30"),y:1721}],
          borderColor:"#56C468",
          backgroundColor:"transparent",
          lineTension: 0
        },
        {
          label: 'Fail',
          data: [{x: new Date("2013-02-08 09:30"),y:145},
            {x: new Date("2013-02-08 10:30"),y:146},
            {x: new Date("2013-02-08 11:30"),y:140},
            {x: new Date("2013-02-08 12:30"),y:141},
            {x: new Date("2013-02-08 13:30"),y:142},
            {x: new Date("2013-02-08 14:30"),y:150},
            {x: new Date("2013-02-08 15:30"),y:140}],
          borderColor:"#F45858",
          backgroundColor:"transparent",
          lineTension: 0
        }
      ]
    },
    options1: { responsive: true, maintainAspectRatio: false,scales: {
      xAxes: [{
        type: 'time',
        distribution: 'linear',
        bounds: "ticks",
        ticks: {
          source: "auto"
        },
        time: {
          unit: 'hour',
          displayFormats: {
            quarter: 'MMM YYYY'
          }
        }
      }]
    },
    borderCapStyle: "square"
    },
    chartdata2: {
      labels: ['Access Control','CaOM','Compliance','Organization of Information Security','Asset Management','Privacy Practices'],
      datasets: [
        {
          label:"Success",
          data: [1751, 1736, 1733,1722,1703,557],
          barPercentage: 1,
          categoryPercentage: 0.5,
          backgroundColor: "#56C468",
          borderWidth: 'right',
          minBarLength:0,
          order:1
        },
        {
          label:"Fail",
          data: [145, 144, 132,131,119,115],
          barPercentage: 1,
          categoryPercentage: 0.5,
          backgroundColor:"#F45858",
          minBarLength:0,
          order:2
        }
      ]
    },
    options2: { responsive: true, maintainAspectRatio: false }
  }),
  computed: {
    headers() {
      return [
        { text: "Requirement", sortable: true, value: "requirement" },
        { text: "Description", sortable: true, value: "description" },
        { text: "Assign Policy", sortable: true, value: "assignPolicy" },
        { text: "Total", sortable: true, value: "total" },
        { text: "Fail", sortable: true, value: "fail" },
        { text: "High", sortable: true, value: "high" },
        { text: "Medium", sortable: true, value: "medium" },
        { text: "Low", sortable: true, value: "low" },
        { text: "Pass", sortable: true, value: "pass" },
        { text: "Compliance Posture", sortable: false, value: "posture" }
      ];
    }
  },
  created() {
    this.standard = `${this.$route.params.id}`;
    switch (this.$route.params.id) {
      case "CIS v1.2.0 (AWS)":
        this.projects = fake_cis;
        break;
      case "CSA CCM v3.0.1":
        this.projects = fake_csa;
        break;
      case "GDPR":
        this.projects = fake_gdpr;
        break;
      case "HIPAA":
        this.projects = fake_hipaa;
        break;
      case "HITRUST Version 9.2":
        this.projects = fake_hitrust;
        break;
      case "ISO 27001:2013":
        this.projects = fake_iso;
        break;
      case "NIST CSF":
        this.projects = fake_nist;
        break;
      case "NIST 800-53 Rev4":
        this.projects = fake_nist800_53;
        break;
      case "NIST 800-171 Rev1":
        this.projects = fake_nist800_171;
        break;
      case "PCI DSS v3.2":
        this.projects = fake_pci;
        break;
      default:
        this.projects = 0;
    }
  }
};
</script>
<style>
.underline {
  border-bottom: 2px solid grey;
}
.progress {
  margin-top: 15px;
  height: 7px !important;
}
.bg-yellow {
  background-color: #ffeb3b !important;
}
.bg-warning {
  background-color: #fb8c00 !important;
}
</style>
