<template>
  <v-container fluid grid-list-xl>
    <p class="title">Policies</p>
    <v-layout class="pa-3" height="50px" color="transparent" pb-0 align-center>
      <v-flex shrink>
        <router-link to="/policies/new">
          <v-btn class="text-capitalize" color="info" outlined>
            <v-icon left>mdi-plus</v-icon> Add New
          </v-btn>
        </router-link>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex shrink>
        <v-text-field
          append-icon="mdi-magnify"
          outlined
          dense
          hide-details
          placeholder="Filters Results"
        ></v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink>
        <v-btn icon outlined class="mr-2">
          <v-icon>mdi-menu</v-icon>
        </v-btn>
        <v-btn icon outlined>
          <download-excel :data="projects">
            <v-icon>mdi-download</v-icon>
          </download-excel>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
      scrollable
    >
      <template v-slot:item.status="{ item }">
        <v-switch v-model="item.status" color="green"></v-switch>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-content-copy</v-icon>
            </v-btn>
          </v-flex>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-bell</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_policies from "./fake_data/fake_policies.json";
export default {
  data: () => ({
    projects: {}
  }),
  computed: {
    headers() {
      return [
        { text: "Policy Name", sortable: true, value: "policies" },
        { text: "Cloud", sortable: true, value: "cloud" },
        { text: "Severity", sortable: true, value: "severity" },
        { text: "Policy Type", sortable: true, value: "policyType" },
        { text: "Labels", sortable: true, value: "labels" },
        { text: "Remediable", sortable: true, value: "remediable" },
        { text: "Policy Mode", sortable: true, value: "policyMode" },
        { text: "Standards", sortable: true, value: "standard" },
        { text: "Status", sortable: true, value: "status" },
        { text: "", sortable: false, value: "actions" }
      ];
    }
  },
  created() {
    this.projects = fake_policies;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
</style>
