<template>
  <v-container fluid grid-list-xl>
    <p class="title">Compliance Report</p>
    <v-layout class="pa-3" height="50px" color="transparent" pb-0 align-center>
      <v-flex shrink>
        <router-link to="/compliance/reports/new">
          <v-btn class="text-capitalize" color="info" outlined>
            <v-icon left>mdi-plus</v-icon> Add New
          </v-btn>
        </router-link>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex shrink>
        <v-text-field
          append-icon="mdi-magnify"
          outlined
          dense
          hide-details
          placeholder="Filters Results"
        ></v-text-field>
      </v-flex>
      <v-spacer />
      <v-flex shrink pa-0>
        <p class="grey--text mb-0 caption">Clear All</p>
      </v-flex>
      <v-flex shrink>
        <v-btn icon outlined>
          <v-icon>mdi-filter-variant</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>

    <v-data-table
      :headers="headers"
      :items="projects"
      class="elevation-0 mb-4"
      scrollable
    >
      <template v-slot:item.actions="{ item }">
        <v-layout row flex-nowrap>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
             <download-excel :data="projects">
                <v-icon>mdi-download</v-icon>
              </download-excel>
            </v-btn>
          </v-flex>
          <v-flex pa-0 pr-2 shrink>
            <v-btn icon outlined>
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </template>
    </v-data-table>
  </v-container>
</template>
<script>
import fake_report from "./fake_data/fake_report.json";
export default {
  data: () => ({
    projects: {}
  }),
  computed: {
    headers() {
      return [
        { text: "Name", sortable: true, value: "name" },
        { text: "Type", sortable: true, value: "type" },
        { text: "Cloud", sortable: true, value: "cloud" },
        { text: "Cloud Accounts", sortable: true, value: "cloudAccount" },
        { text: "Time Range", sortable: true, value: "timeRange" },
        { text: "Create On", sortable: true, value: "createOn" },
        { text: "", value: "actions" }
      ];
    }
  },
  created() {
    this.projects = fake_report;
  }
};
</script>
<style>
.v-container {
  margin: 10px;
}
.title {
  font-weight: 300;
}
.v-data-table {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
</style>
