<template>
  <v-app fluid>
    <v-toolbar class="toolbar" height="auto">
      <v-toolbar-title class="white--text pr-5">
        <img height="30px" width="30px" src="../public/logo.png" alt="logo" class="mb-1">
        AkaSafe</v-toolbar-title>

      <v-toolbar-items>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on" class="white--text">
              dashboard
            </v-btn>
          </template>
          <v-list class="background-color: black">
            <v-list-item
              v-for="(item, index) in listDashBoard"
              :key="index"
              @click="redirectTo(item.value)"
            >
              <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-btn text>
          <router-link to="/investigate/EC2" class="white--text">
            <span>Investigate</span>
          </router-link>
        </v-btn>
        <v-btn text>
          <router-link to="/policies" class="white--text">
            Policies
          </router-link>
        </v-btn>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on" class="white--text">
              Compliance
            </v-btn>
          </template>
          <v-list class="background-color: black">
            <v-list-item
              v-for="(item, index) in listCompliance"
              :key="index"
              @click="redirectTo(item.value)"
            >
              <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        <v-menu offset-y>
          <template v-slot:activator="{ on }">
            <v-btn text v-on="on" class="white--text">
              <v-badge color="red">
                <template v-slot:badge>60</template>
                Alerts
              </v-badge>
            </v-btn>
          </template>
          <v-list class="background-color: black">
            <v-list-item
              v-for="(item, index) in listAlert"
              :key="index"
              @click="redirectTo(item.value)"
            >
              <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <p class="white--text pt-4 pr-3">26 day(s) remaining</p>
      <v-toolbar-items>
        <v-btn text class="green--text">Buy Now</v-btn>
      </v-toolbar-items>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-icon class="white--text">mdi-settings</v-icon>
          </v-btn>
        </template>
        <v-list class="background-color: black">
          <v-list-item
            v-for="(item, index) in listSetting"
            :key="index"
            @click="redirectTo(item.value)"
          >
            <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn text class="white--text">Mac Van Hai</v-btn>
      <v-btn icon>
        <v-icon class="white--text">mdi-apps</v-icon>
      </v-btn>
    </v-toolbar>
    <router-view />
  </v-app>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: () => ({
    listDashBoard: [
      { title: "Asset Inventory", value: "/dashboard/asset_inventory" }
    ],
    listCompliance: [
      { title: "Overview", value: "/compliance/overview" },
      { title: "Report", value: "/compliance/reports" }
    ],
    listSetting: [
      { title: "Cloud Account", value: "/account" },
      { title: "Account Group", value: "/account" },
      { title: "Roles", value: "/account" },
      { title: "Users", value: "/account" },
      { title: "Access Keys", value: "/account" },
      { title: "SSO", value: "/account" },
      { title: "Integrations", value: "/account" },
      { title: "IP Whitelisting", value: "/account" },
      { title: "Licensing", value: "/account" },
      { title: "Audit Logs", value: "/account" },
      { title: "Enterprise Settings", value: "/account" }
    ],
    listAlert: [
      { title: "Overview", value: "/alerts/overview" },
      { title: "Alert Rules", value: "/alerts/alert_rules" }
    ]
  }),
  methods: {
    redirectTo(value) {
      this.$router.replace(value);
    }
  }
};
</script>
<style>
.toolbar {
  background-image: linear-gradient(
    to right,
    rgb(10, 59, 83) 120px,
    rgb(2, 16, 23) 400px
  );
}
a {
  text-decoration-line: none !important;
}
.v-toolbar {
  flex-grow: 0 !important;
}
</style>
